* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #03A9F4;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 50px;
}

#game-board {
  height: 300px;
  width: 300px;
  position: relative;
}

.tile {
  background: url(images/Unicorn.png);
  position: absolute;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  color: transparent;
  font-size: 25px;
  transition: top 0.2s linear, left 0.2s linear;
}

.tile:last-of-type {
  background: none;
  border: none;
}
